body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, rgb(130, 54, 87) 0%, rgb(25, 66, 59) 100%, rgb(58, 18, 5) 100%);
    font-family: monospace, sans-serif;
    color: #290942;
}

.container {
    background: rgba(193, 94, 119, 0.599);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 4px 10px rgba(85, 131, 44, 0.3);
    width: 85%;
    max-width: 800px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    font-size: 32px;
}

.temp-container {
    width: 100%;
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

input {
    width: 60%;
    font-family: monospace;
    padding: 5px;
    outline: none;
    background: rgba(219, 165, 165, 0.3);
    border-color: rgba(255, 255, 255, 0.6);
    color: rgb(53, 15, 40);
    font-size: 18px;
}

input::placeholder {
    color: rgb(78, 46, 112);
}

/* Responsive CSS */
@media (min-width: 600px) {
    .container {
        width: 70%;
    }

    input {
        width: 50%;
    }
}

@media (min-width: 900px) {
    .container {
        width: 60%;
    }

    input {
        width: 40%;
    }
}